@charset "UTF-8";

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    background-color: whitesmoke
}
header{
    margin: 8px;
    background-color: rgb(170, 169, 169);
    padding: 8px;
}

nav{
    display: block;
    text-align: center;
    background-color: rgb(70, 70, 70);
    box-shadow: 3px 5px 4px 0px rgb(0 0 0 / 51%);
}
main{
    margin: 10px;
    padding: 8px 8px 1px 8px;
    background-color: rgb(170, 169, 169);
    
}

article{
    padding: 8px
}

section{
    background-color: whitesmoke;
    margin-bottom: 8px;
}

aside{
    margin: 16px;
    padding: 8px;
}

footer{
    margin: 10px;
    background-color: rgb(170, 169, 169);
    margin: 8px;
    padding: 8px;
    text-align: center;
}

p{
    padding: 8px;
}

li{
    display: inline-block;
}
a{
    display: inline-block;
    padding: 5px 40px;
    color: white
}
a:hover{
    background-color: red;
}

h1{
    text-align: center;
}

ul{
    display: inline-block;
}